[Desktop Entry]
Name=Freya Card Maker
StartupWMClass=discord
Comment=App for creating cards for Freya Bot
GenericName=Card Maker
Exec=/opt/freyacardmaker/Freya\ Card\ Maker
Icon=/opt/freyacardmaker/icon.png
Type=Application
Categories=Utility;Graphics;
Path=/usr/bin
