[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pillow = "*"
requests = "*"
imageio = "*"

[dev-packages]
pyinstaller = "*"

[scripts]
start = "python ./main.py"
build-windows = "pyinstaller --noconsole --name=\"Freya Card Maker\" --icon=\"icon.ico\" --add-data=\"icon.ico;.\" --onefile main.py"
build-linux = "pyinstaller --noconsole --name=\"Freya Card Maker\" --icon=\"icon.ico\" --onefile main.py"

[requires]
python_version = "3.8"
